body {
  background: #f8f8f5;
}
body .required-star {
  color: #db2828;
  margin: -0.2em 0 0 0.2em;
}
body .split-half {
  display: flex !important;
  justify-content: space-between;
  align-items: baseline;
}
body .tabbed {
  padding-left: 10px;
}
.hidden {
  display: none;
}
#navbar {
  background: transparent;
  color: #302f7f;
  border: none;
}
#navbar .item {
  color: #302f7f;
  border: none !important;
}
#navbar .item .button {
  background: #7080cc;
}
.alert-container {
  text-align: center;
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 10 !important;
  visibility: 1;
  opacity: 0.95;
  transition: all 200ms;
}
.alert-container .hidden {
  visibility: 0;
  display: none;
}
#my-info div.ui.card div.card-controls {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  flex-direction: column;
}
#my-info div.ui.card div.card-controls button {
  margin: 5px;
  padding: 5px;
}
.profile-page .subtitle {
  margin-top: 0;
}
.user-search .aligned.column {
  margin-top: 14px !important;
  padding: 0 24px !important;
}
#friends-page .friend-card {
  border: 1px solid #87ceeb;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
}
#friends-page .friend-card .primary-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#friends-page .friend-card .primary-info .left {
  width: 40%;
}
#friends-page .friend-card .primary-info .left .extras {
  margin-top: 5px;
}
#friends-page .friend-card .primary-info .left .extras a {
  cursor: pointer;
}
#friends-page .friend-card .primary-info .left .extras p:last-of-type {
  margin-bottom: 0;
}
#friends-page .friend-card .primary-info .right {
  width: 50%;
}
#friends-page .friend-card .primary-info .right table {
  border: none;
}
#friends-page .friend-card .primary-info .right table td {
  padding: 5px 0;
}
#friends-page .friend-card .more {
  text-align: center;
}
#friends-page .friend-card .more a {
  cursor: pointer;
}
#dashboard #upcoming-birthdays .dropdown.select {
  padding: 5px 15px;
  background: #fff;
  margin: 0 5px;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
}
