body {
  background: #f8f8f5;
}
body .required-star {
  color: #db2828;
  margin: -0.2em 0 0 0.2em;
}
body .split-half {
  display: flex !important;
  justify-content: space-between;
  align-items: baseline;
}
#navbar {
  background: transparent;
  color: #302f7f;
  border: none;
}
#navbar .item {
  color: #302f7f;
  border: none !important;
}
#navbar .item .button {
  background: #7080cc;
}
.alert-container {
  text-align: center;
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 10 !important;
  visibility: 1;
  opacity: 0.95;
  transition: all 200ms;
}
.alert-container .hidden {
  visibility: 0;
  display: none;
}
#my-info div.ui.card div.card-controls {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  flex-direction: column;
}
#my-info div.ui.card div.card-controls button {
  margin: 5px;
  padding: 5px;
}
.profile-page .subtitle {
  margin-top: 0;
}
