<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
    <title>{{appname}}</title>
  </head>
  <body>
    <div>
      <div id="app"/>
    </div>
    <input id="_token" type="hidden" value="{{token}}" />
    <script src="/bundle.js" type="text/javascript"></script>
  </body>
</html>